<p><%= notice %></p>

<h1>Clusters</h1>

<div id="clusters">
  <%= @clusters.each do |cluster| %>
    <%= render cluster %>
    <p>
      <%= link_to 'Show this cluster', cluster %>
    </p>
    <% end %>
</div>

<%= link_to 'New cluster', new_cluster_path %>
