<%= form_with(model: start) do |form| %>
  <% if start.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(start.errors.count, "error") %> prohibited this start from being saved:</h2>

      <ul>
        <% start.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="category-input-container">
    <%= form.label :categories %>
    <%= form.select :cluster_id, Cluster.all.collect {|cluster| [cluster.name, cluster.id]},{include_blank: true}, class:"form-select" %>
  </div>

  <div class="actions">
    <%= form.submit 'SAVE' %>
  </div>
<% end %>
