<p><%= notice %></p>

<h1>Charges</h1>

<div id="charges">
  <%= @starts.each |start|
    <%= render start %>
    <p>
      <%= link_to "Show this charge", start %>
    </p>
  <% end %>
</div>

<%= link_to "New charge", new_start_path %>
