<p><%= notice %></p>

<div id="associations">
  <ul class="start-container cluster-container">
  <div class="cluster-transactions-header">
    <h2><%= @cluster.name %> <span><%= "Total $#{total_amount(@starts)}" %></span></h2>
  </div>

  <% if @starts.empty? %>
    <li>
      <h3>You do not have any registered charges yet</h3>
    </li>
  <% end %>
  <% @starts.each do |start| %>
    <% if can? :manage, Start %>
    <li>
      <div class="start-card">      
      <div class="start-image">
        <%= image_tag @cluster.icon %>
      </div>
      <div class="start-info">
        <h3><%= start.name %></h3>
        <h4><%= start.created_at %></h4>
      </div>
      </div>
      <p>
        <%= start.amount %>
      </p>
    </li>
    <% end %>
  <% end %>
  </ul>

  <div class="add-b-container">
    <%= link_to "Add a new transaction", new_start_path, class: "transaction-new-add-category" %>
  </div>
</div>
